<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short XXX Vids management</title>
    <link rel="stylesheet"  href="/roda/css/chota.css" />  
  </head>
  <body>
 <div id="top" class="container" role="document">
    <main>
     <section>
   Here is a test
    <%= yield %>
     </section>
    </main>
</div>
  </body>
</html>

