<h1> Categorize the video </h1>

<b>Title:</b> <cite><q><%= @video.title %></q></cite>
<p>
 <b>Source:</b> <%= @video.provider %>
</p>
<p>
  <b>Url:</b> <%= @video.url %>
</p>
<p>
  <% if @video.url_thumb_sml %>
    <figure>
      <img src=<%=@video.url_thumb_sml %> />
      <figcaption> Small thumbnail from <%=@video.provider %> </figcaption>
    </figure>
  <% elsif @video.image_url %>
    <figure>
      <img src=<%=@video.url_thumb_sml %> />
      <figcaption> Uploaded thumbnail </figcaption>
    </figure>
  <% else %>
    <cite>No thumbnails present</cite>
  <% end %>
</p>
<% f = Forme::Form.new %>
<%= f.open(:action=>'/roda/videos/associate', :method=>:post) %>
  <%= csrf_tag('/roda/videos/associate') %>
<%= f.input(:select, :label=>Protest.name.upcase, :name=>"cat_#{Protest.name.downcase}", :options=>Protest.tags, :add_blank=>true) %>
<%= f.input(:select, :label=>Science.name.upcase, :name=>"cat_#{Science.name.downcase}", :options=>Science.tags, :add_blank=>true) %>
<%= f.input(:select, :label=>Lockdowns.name.upcase, :name=>"cat_#{Lockdowns.name.downcase}", :options=>Lockdowns.tags, :add_blank=>true)%>
<%= f.input(:select, :label=>Culture.name.upcase, :name=>"cat_#{Culture.name.downcase}", :options=>Culture.tags, :add_blank=>true)%>
<%= f.button(:value=>'Assign Categories') %>
<%= f.close %>
