
<h2> If you wish to cancel this action, press 'Cancel' below </h2>
<a href=/roda/videos>
<button type="button">
Cancel
</button></a>

<h2> Video Attributes </h2>

<% form @video, action: "/roda/videos/#{@video.id}/update", enctype: "multipart/form-data" do |f| %>
  <%= csrf_tag("/roda/videos/#{@video.id}/update") %>
<%=   f.input :title %>
<br>
<%=   f.input :url %>
<%=   f.input :provider %>
<br>
<%=   f.input :date_added, :as=>:select, :select_options=>{:year=>2020..Time.now.year} %>
<%=   f.input :date_shot, :as=>:select %>
<br>
<%=   f.input :url_thumb_sml  %>
<%=   f.input :url_thumb_med  %>
<%=   f.input :url_thumb_lrg  %>
<%=   f.input :image, type: :hidden, value: @video.cached_image_data %>
<%=   f.input :image, type: :file %>
<%=   f.button "Update Video attributes" %>
<% end %>

<section>
<% if @video.url_thumb_sml %>
<h4> Small Thumbnail </h4>
<figure>
  <img src=<%=@video.url_thumb_sml %> />
</figure>
<% end %>
<% if @video.url_thumb_med %>
<h4> Medium Thumbnail </h4>
<figure>
  <img src=<%=@video.url_thumb_med %> />
</figure>
<% end %>
<% if @video.url_thumb_lrg %>
<h4> Large Thumbnail </h4>
<figure>
  <img src=<%=@video.url_thumb_lrg %> />
</figure>
<% end %>

</section>
