
<h2> 
<a href=/roda/videos/new>
  <button type="button">
    Add a new video
  </button>
</a>
</h2>
<table>
  <tr>
    <th> Title </th>
    <th colspan="2"> Actions </th>
  </tr>
<% @videos.each do |video| %>
  <tr>
  <td> <%= video.title %></td>
  <td> 
    <a href=/roda/videos/<%=video.id%>/edit>
<button type="button">
Edit
</button></a></td>
  <td> <button type="button"><a href=/roda/videos/<%=video.id%>/categorize>Categorize</a></button></td>
  </tr>
<% end %>
</table>
