<h1>Add a Video</h1>
<h2> Try getting information only using url </h2>
<h3> Insert url and press 'Get Video Info'</h3>
<h4></cite> works only for YouTube, Vimeo, DailyMotion, and Wistia</cite></h4>
<% f = Forme::Form.new %>
<%= f.open(:action=>'/roda/videos/fill', :method=>:post) %>
  <%= csrf_tag('/roda/videos/fill') %>
<%= f.input(:text, :label=>"URL", :name=>'url_scraper', :options=>@cat_names) %>
<%= f.button(:value=>'Get Video Info') %>
<%= f.close %>

<h3> If this worked </h3>
<p>
<cite>
The form below would be automagically be filled up. Please check
the values, correct if needed, and press 'Create'
</cite>

If this did not work out, please fill the form manually.
</p>

<h2> Video Attributes </h2>

<% form @video, action: "/roda/videos/create", enctype: "multipart/form-data" do |f| %>
  <%= csrf_tag('/roda/videos/create') %>
<%=   f.input :title %>
<br>
<%=   f.input :url %>
<%=   f.input :provider %>
<br>
<%=   f.input :date_added, :as=>:select, :select_options=>{:year=>2020..Time.now.year} %>
<%=   f.input :date_shot, :as=>:select %>
<br>
<%=   f.input :url_thumb_sml  %>
<%=   f.input :url_thumb_med  %>
<%=   f.input :url_thumb_lrg  %>
<%=   f.input :image, type: :hidden, value: @video.cached_image_data %>
<%=   f.input :image, type: :file %>
<%=   f.button "Create Video" %>
<% end %>

<section>
<% if @video.url_thumb_sml %>
<h4> Small Thumbnail </h4>
<figure>
  <img src=<%=@video.url_thumb_sml %> />
</figure>
<% end %>
<% if @video.url_thumb_med %>
<h4> Medium Thumbnail </h4>
<figure>
  <img src=<%=@video.url_thumb_med %> />
</figure>
<% end %>
<% if @video.url_thumb_lrg %>
<h4> Large Thumbnail </h4>
<figure>
  <img src=<%=@video.url_thumb_lrg %> />
</figure>
<% end %>

</section>
