
<section>
<h2> Video attributes </h2>
<b>Title:</b> <cite><q><%= @video.title %></q></cite>
<p>
 <b>Source:</b> <%= @video.provider%> (<%=@video.url%>)
  <% if @video.url_thumb_sml %>
    <figure>
      <img src=<%=@video.url_thumb_sml %> />
      <figcaption> Small thumbnail from <%=@video.provider %> </figcaption>
    </figure>
  <% elsif @video.image_url %>
    <figure>
      <img src=<%=@video.image_url %> />
      <figcaption> Uploaded thumbnail </figcaption>
    </figure>
  <% else %>
    <cite>No thumbnails present <br> Please upload one or more thumbnails</cite>
  <% end %>
</p>
<a href=/roda/videos/<%=@video.id%>/edit><button type="button">Edit</button></a></td>
 <button type="button"><a href=/roda/videos/<%=@video.id%>/categorize>Categorize</a></button>
</section>
