
<h2> 
<a href=/roda/categories/new>
  <button type="button">
    Add a new Category
  </button>
</a>
</h2>

<%= flash['error'] %>

<table>
  <tr>
    <th> Name </th>
    <th colspan="3"> Actions </th>
  </tr>
<% @categories.each do |category| %>
  <tr>
    <td> 
      <a href=/roda/categories/<%=category.id%>/subcategories>
      <%= category.name %>
      </a>
     </td>
    <td> 
      <a href=/roda/categories/<%=category.id%>/rename>
      <button type="button">
        Rename
      </button></a>
      </td>
    <td> <button type="button">
      <a href=/roda/categories/<%=category.id%>/delete>Delete</a>
      </button>
    </td>
    <td> 
      <a href=/roda/categories/<%=category.id%>/subcategories>
      <button type="button">
        Subcategories
      </button></a>
    </td>
  </tr>
<% end %>
</table>
