
<h1>Add a Category</h1>

<section>

<% f = Forme::Form.new %>
<%= f.open(:action=>'/roda/categories/create', :method=>:post) %>
  <%= csrf_tag('/roda/categories/create') %>
  <% (1..10).to_a.each do |i| %>
  <%= f.input(:text, :label=>"Category#{i}", :name=>"cats#{i}") %>
  <% end %>
  <%= f.button(:value=>'Make new categories') %>
<%= f.close %>

</section>
