<h2> Confirm that you wish to proceeed with this action </h2>

<% form(@category, action: "/roda/categories/#{@category.id}/rename",:method=>:post)  do |f| %>
  <%= csrf_tag("/roda/categories/#{@category.id}/rename") %>
<%=   f.input :name %>
<%=   f.button "Rename category" %>
<% end %>

<h2> Or go back </h2>
<a href=/roda/categories>
<button type="button">
Cancel
</button></a>
