
 <% id = @category.id %>
 <% cat_id = @category.cat_id %>
 <% if subcats=@category.subcategories.all %>
  <h2> 
  Subcategories for <%= @category.name %>
  </h2>
 <% end %>

<table>
  <tr>
    <th> Name </th>
    <th colspan="2"> Actions </th>
  </tr>
<% subcats.each do |scat| %>
  <tr>
    <td> <%= scat.name %></td>
    <td>
      <a href=/roda/categories/<%=id%>/subcategories/<%=scat.id%>/rename>
      <button type="button">
        Rename
      </button></a>
    </td>
    <td>
      <a href=/roda/categories/<%=id%>/subcategories/<%=scat.id%>/delete>
      <button type="button">
        Delete
      </button></a>
    </td>
  </tr>
<% end %>
</table>


<h2>
Make subcategories for <%= @category.name %>
</h2>

<section>

<% f = Forme::Form.new %>
<%= f.open(:action=>"/roda/categories/#{id}/subcategories/create", :method=>:post) %>
  <%= csrf_tag("/roda/categories/#{id}/subcategories/create") %>
  <% (1..10).to_a.each do |i| %>
  <%= f.input(:text, :label=>"Subcategory#{i}", :name=>"sub_cats#{i}") %>
  <% end %>
  <%= f.button(:value=>'Make new sub categories') %>
<%= f.close %>

</section>

